@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background-color: #08071f; 
}

.container {
    display: flex;
    justify-content: center; 
    min-height: 100vh; 
    align-items: center;
}
.index--main {
    background-color: #1e255c;
    border: 3px solid #000000;
    min-width: 60vw;
    min-height: 30vh;
    box-shadow: 10px 10px 8px #000000;
}

.main-menu--left {    
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: flex-end;
    justify-content: space-evenly;
    height: 30vh;    
}

.main-menu--right {
    width: 50%;
    flex-direction: column;    
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.main-menu--bottom { 
    display: flex; 
    justify-content: flex-end;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.main-menu--top {
    display: flex;
    flex-direction: row;
}

.main-menu-left-rows {
    min-width: 10vw;    
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: #22ea04;
}

.main-menu--right-top {
    color: #ff8925;
}

.main-menu--right-bottom {
    margin-top: 2vh;
}

.btn {
    background-color: #08071f;
    border: 1px solid #ff8925;
    border-radius: 25px;
    color: #f5f7b6;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.25em;    
}

.btn:hover {
    box-shadow: #ff8925 1px 1px 2px;
}

.btn-left {
    min-width: 100px;
}

.btn-right {
    min-width: 100px; 
}

.icon {
    font-size: 3em;
}

.admin-header {
    width: 90vw; 
    background-color: #dc8443;
    color: white; 
    position: fixed;
    top: 0; 
    left: 0; 
    border-end-end-radius: 25px;
}

.admin-container {
    display: flex; 
    flex-direction: column; 
}

.admin-footer {
    position: fixed; 
    bottom: 0;
    left: 0; 
    border-top: 3px solid #35cacf; 
    width: 100vw; 
    height: 5vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.admin-btn--home {
    width: 100px;
}